<div class="p-3 mb-5 component-light">
	<h5 class="text-center">
		{% trans %}Groups{% endtrans %}
	</h5>
	<ul class="nav flex-column mb4">
		<li class="nav-item">
			<a class="nav-link {{ not currentGroup|default ? 'selected' }}" href='{{ path('svc_video_show') }}'>
				{% trans %}All Videos{% endtrans %}
			</a>
		</li>
		{% for group in groups %}
			<li class="nav-item">
				<a class="nav-link {{ currentGroup|default is same as group ? 'selected' }}" href='{{ path('svc_video_show', {group: group.id}) }}'>
					{{ group.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>


<style>
.component-light {
  border: 1px solid #efefee;
  box-shadow: 0 0 7px 4px #efefee;
  border-radius: 5px;
}

.component-light ul li a:hover {
  background: #add8e6;
}
.component-light ul li a.selected {
  background: #efefee;
}
</style>