{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Video overview{% endtrans %}
{% endblock %}

{% block body %}
	{% if not hideGroups %}
		<div class="row">
			<aside class="col-sm-4 col-md-3 col-xl-2">
				{{ include('@SvcVideo/video/_groupSidebar.html.twig') }}
			</aside>

			<div class="col-sm-8 col-md-9 col-xl-10">
	{% endif %}

      {% if currentGroup %}
        <h2>{{ currentGroup.name }}</h2>
        <p class="fw-light">{{ currentGroup.description }}</p>
        <hr />
      {% else %}
        <h2>{% trans %}All Videos{% endtrans %}</h2>
      {% endif %}

			<div class='row'>
				{% for video in videos %}
					<div class="col-md-6 col-lg-4 col-xl-3 mb-3 card-group">
						{% if hideNav | default(false) %}
							{% set run_path='svc_video_run_hn' %}
						{% else %}
							{% set run_path='svc_video_run' %}
						{% endif %}
						<div class="card text-center border-warning" onclick="location.href='{{ path(run_path, {'id': video.id}) }}'">
							{% if video.thumbnailPath %}
								<img src="{{ asset('uploads/' ~ video.thumbnailPath) | imagine_filter('svcv_thumb_video_200') }}" class='card-img-top'/>
							{% elseif video.thumbnailUrl %}
								<img src="{{ video.thumbnailUrl }}" class='card-img-top'/>
							{% else %}
								<img src="{{ asset('bundles/svcvideo/img/video_200.jpg') }}" class='card-img-top'/>
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ video.title }}</h5>
								<small class="card-subtitle mb-2 text-muted">{{ video.subTitle }}</small>
							</div>
							<div class="card-footer">
								{{ video.likes }}
								<i class="fas fa-heart like-liked"></i>
								|
								<span title='{% trans %}Video watched{% endtrans %}'>
									<i class="fas fa-eye"></i>
									{{ video.calls }}
								</span>
							</div>
						</div>
					</div>
				{% else %}
					{% trans %}no videos found{% endtrans %}
				{% endfor %}
			</div>

			{% if not hideGroups %}
			</div>
		</div>
	{% endif %}
{% endblock %}
