{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{{ video.title }}
{% endblock %}

{% block body %}
  <div class='form-lg'>
    {% if enableGroups and not hideNav %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('svc_video_list') }}">Home</a></li>
          <li class="breadcrumb-item">
            <a href="{{ path('svc_video_list', {id: video.videoGroup.id}) }}">{{ video.videoGroup.name }}</a>
          </li>
        </ol>
      </nav>
    {% endif %}

    <h2>{{ video.title }}</h2>
    <p class="fw-light">{{ video.subTitle }}</p>

    <div class="ratio ratio-{{ video.ratio }}">
      {% if video.sourceText == 'Vimeo' %}
        <iframe src="https://player.vimeo.com/video/{{ video.sourceId }}" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {% elseif video.sourceText == 'Youtube' %}
        <iframe src="https://www.youtube.com/embed/{{ video.sourceId }}?controls=0&rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    </div>

    <div class="d-flex justify-content-between">
      <small>
        {% if enableLikes %}
          {% if liked is defined and liked %}
            <i class="fas fa-heart like-liked"></i> {{ video.likes }}
          {% else %}
            <span data-controller='svc--like-bundle--like' data-svc--like-bundle--like-url-value='{{ path("svc_video_inc_likes", {id: video.id}) }}'>
              <i class="fas fa-heart like-not-liked" data-action="click->svc--like-bundle--like#inc"></i>
              <span data-svc--like-bundle--like-target="counter">{{ video.likes }}</span>
            </span>
          {% endif %}
        |
        {% endif %}
        <span title='{% trans %}Video watched{% endtrans %}'><i class="fas fa-eye"></i> {{ video.calls }}</span> |
        <span class="d-none"
          {{ stimulus_controller('svc--util-bundle--clipboard', {
            'link': copyUrl
          } ) }}
        >
          <a class='justify-content-end' title='{% trans %}Copy link to clipboard{% endtrans %}' data-action="svc--util-bundle--clipboard#copy">
            {% trans %}Copy link{% endtrans %}
          </a>
        </span>
      </small>
      <div>
        {{ include('@SvcVideo/video/_tags.html.twig') }}
      </div>
    </div>

    {{ video.description | raw }}

  </div>
{% endblock %}
